*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

gradle/

gradlew\.bat

gradlew

app/src/main/java/com/stetal/weatherassignment/favouriteCities\.db
